{% extends "layout.html" %} {% block title %}ADD MENU{% endblock %} {% block
content %}
<div class="console">
  <div></div>
  <form class="console-main" method="post">
    <h2>Add Menu</h2>
    <div class="console-box auto">
      <h3>Name</h3>
      <div class="console-input">
        <div>
          <label for="name">Name</label>
          <input
            class="login-input"
            id="name"
            type="text"
            placeholder="Menu Name"
            name="name"
            required
          />
        </div>
        <div>
          <label for="name_en">English Name</label>
          <input
            class="login-input"
            id="name_en"
            type="text"
            placeholder="English Name"
            name="name_en"
            required
          />
        </div>
      </div>
      <h3>Type</h3>
      <div class="console-split">
        <div class="console-content">
          <label for="ice">Ice</label>
          <input
            class="login-input"
            id="Ice"
            type="radio"
            name="type"
            value="ice"
            checked
            required
          />
        </div>
        <div class="console-content">
          <label for="hot">Hot</label>
          <input
            class="login-input"
            id="hot"
            type="radio"
            name="type"
            value="hot"
            required
          />
        </div>
      </div>
      <h3>Kind</h3>
      <div class="console-input">
        <div>
          <label for="kind">Kind</label>
          <input
            class="login-input"
            id="kind"
            type="text"
            placeholder="Kind"
            name="kind"
            required
          />
        </div>
      </div>
      <h3>Price</h3>
      <div class="console-input">
        <div>
          <label for="price">Price</label>
          <input
            class="login-input"
            id="price"
            type="text"
            placeholder="Price"
            name="base_price"
            required
          />
        </div>
      </div>
      <button class="login-submit" type="submit">확인</button>
    </div>
  </form>
  <div></div>
</div>
{% endblock %}
