{% extends "layout.html" %} {% block title %}ADD MENU{% endblock %} {% block content %}
<div class="console">
  <div></div>
  <div class="console-main">
    <h2>Add Menu</h2>
    <div class="console-box auto">
      <h3>Menu form</h3>
      <form class="login-cell" method="post" enctype="multipart/form-data">
        <input name="name" class="login-input" type="text" placeholder="name of menu" required />
        <input name="name_en" class="login-input" type="text" placeholder="english name of menu" required />
        <input name="file" type="file" accept="image/*" required />
        <select id="type" name="type" class="login-input">
          <option value="ice">ice</option>
          <option value="hot">hot</option>
        </select>
        <select id="kind" name="kind" class="login-input">
          <option value="coffee">coffee</option>
          <option value="tee">tee</option>
          <option value="smoothie">smoothie</option>
          <option value="decaffeine">decaffeine</option>
          <option value="beverage">beverage</option>
        </select>
        <input name="base_price" class="login-input" type="text" placeholder="price of menu" required />
        <div class="button-group">
          <button class="login-submit login-submit--red" onclick="location.href='/admin'" type="button">취소</button>
          <button class="login-submit" type="submit">확인</button>
        </div>
      </form>
    </div>
  </div>
  <div></div>
</div>
{% endblock %}
