{% extends "layout.html" %} {% block title %}HOME{% endblock %} {% block content
%}
<div class="console">
  <div></div>
  <div class="console-main">
    <h2>Admin HOME</h2>
    <div class="console-box">
      <h3>Menus {% if datas %}{{datas|length}}{% else %}0{% endif %}개</h3>
      <div class="console-split">
        {% if datas %}
        <div class="console-content">
          {% for data in datas %} {% if loop.index0 is even %}
          <button
            class="menu-item"
            onclick="location.href='/admin/menus/{{ data.id }}'"
          >
            <img class="menu-img" src="{{ data.img_path }}" alt="" />{{
            data.name }}
          </button>
          {% endif %} {% endfor %}
        </div>
        <div class="console-content">
          {% for data in datas %} {% if loop.index0 is odd %}
          <button
            class="menu-item"
            onclick="location.href='/admin/menus/{{ data.id }}'"
          >
            <img class="menu-img" src="{{ data.img_path }}" alt="" />{{
            data.name }}
          </button>
          {% endif %} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div></div>
{% endblock %}
