<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>{% block title %}{% endblock %} | Admin</title>
  </head>
  <body>
    {% if email %}
    <header>
      <div>
        <a href="/admin">HOME</a>
        |
        <a href="/admin/menus/add">ADD MENU</a>
        |
        <a href="/admin/logout">LOGOUT</a>
      </div>
      <div>{{email}}</div>
    </header>
    {% endif %} {% block content %} {% endblock %} {% with messages =
    get_flashed_messages() %} {% if messages %}
    <script type="text/javascript">
      alert("{{ messages[0] }}"); <!-- 첫 번째 메시지를 alert()로 표시 -->
    </script>
    {% endif %} {% endwith %}
  </body>
</html>
