<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>{% block title %}{% endblock %} | Admin</title>
  </head>
  <body>
    {% if email %}
    <header>
      <strong>{{ email }} 님</strong>
      <div class="buttons">
        <form action="/admin">
          <button type="submit">Home</button>
        </form>
        <form action="/admin/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </div>
    </header>
    <a href="/admin/menus">&rarr; export menus.csv</a>
    {% endif %} {% block content %} {% endblock %}
    <footer>&copy; 2025 All rights reserved.</footer>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script type="text/javascript">
      alert("{{ messages[0] }}"); <!-- 첫 번째 메시지를 alert()로 표시 -->
    </script>
    {% endif %} {% endwith %}
  </body>
</html>
