{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block
content %}
<div class="form">
  <form method="post">
    <fieldset>
      <legend>Login</legend>
      <label for="email">email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="example@mail.com"
      />
      <label for="password">password</label>
      <input id="password" type="password" name="password" />
    </fieldset>
  </form>
  <a href="/admin/register">계정이 없으신가요?</a>
</div>
{% endblock %}
