{% extends "layout.html" %} {% block title %}UPDATE MENU{% endblock %} {% block content %}
<div class="console">
  <div></div>
  <div class="console-main">
    <h2>Update Menu</h2>
    <div class="console-box auto">
      <h3>Menu form</h3>
      <form class="login-cell" method="post" enctype="multipart/form-data">
        <input name="name" class="login-input" type="text" placeholder="name of menu" value="{{ data.name }}" required />
        <input name="name_en" class="login-input" type="text" placeholder="english name of menu" value="{{ data.name_en }}" required />
        <input name="file" type="file" accept="image/*" required />
        <select id="type" name="type" class="login-input">
          <option {% if data.type == "ice" %}selected{% endif %} value="ice">ice</option>
          <option {% if data.type == "hot" %}selected{% endif %} value="hot">hot</option>
        </select>
        
        <select id="kind" name="kind" class="login-input">
          <option {% if data.kind == "coffee" %}selected{% endif %} value="coffee">coffee</option>
          <option {% if data.kind == "tee" %}selected{% endif %} value="tee">tee</option>
          <option {% if data.kind == "smoothie" %}selected{% endif %} value="smoothie">smoothie</option>
          <option {% if data.kind == "decaffeine" %}selected{% endif %} value="decaffeine">decaffeine</option>
          <option {% if data.kind == "beverage" %}selected{% endif %} value="beverage">beverage</option>
        </select>
        <input name="base_price" class="login-input" type="text" placeholder="price of menu" value="{{ data.base_price }}" required />
        <div class="button-group">
          <button class="login-submit login-submit--red" onclick="location.href='/admin/menus/{{ data.id }}/delete'" type="button">삭제</button>
          <button class="login-submit" type="submit">확인</button>
        </div>
      </form>
    </div>
  </div>
  <div></div>
</div>
{% endblock %}
