/* reset.css */
@import "./reset.css";

/* screens */
@import "./screens/login.css";
@import "./screens/console.css";

body {
  background-color: rgb(240, 244, 250);
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.button-group {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

header {
  position: sticky;
  background-color: white;
  border-bottom: 1px solid rgb(116, 120, 117);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: black;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu-table {
  text-align: center;
}

.menu-table th {
  font-weight: bold;
  padding: 10px;
}
.menu-table tr {
  border-bottom: 1px solid rgb(211, 222, 214);
}
.menu-table td {
  vertical-align: middle;
}
