body {
  height: 100vh;
}

fieldset {
  padding: 40px;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

legend {
  padding: 5px;
  font-weight: bold;
}

.form {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.grid {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.section {
  padding: 10px;
}

.section:nth-child(1),
.section:nth-child(2) {
  grid-row: span 2;
}

.section > * {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 15px;
}

.scroll {
  overflow-y: auto;
  scrollbar-width: none;
}

.add-menu {
  height: 100%;
  box-sizing: border-box;
}
